body{
    margin : 0;
}

div{
    box-sizing: border-box;
}

.bubble{
    z-index: 10;
    transition: all 1s;
    transform: translateY(-60px);
    /* 60 => 100 => 40 */
}

.cut{
    transition: all 1s;
    opacity: 0;
}

.move-cut1{
    transform: translateX(00vw);
    opacity: 1;
}


.move-cut2{
    transform: translateX(00vw);
    opacity: 1;
}


.move-cut3{
    transform: translateX(00vw);
    opacity: 1;
}


.move-cut4{
    transform: translateX(00vw);
    opacity: 1;
}