@font-face {
    font-family: 'KyoboHandwriting2023wsa';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404-2@1.0/KyoboHandwriting2023wsa.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.note-font{
    font-family: 'KyoboHandwriting2023wsa', sans-serif !important;
}

body{
    margin : 0;
    font-family: 'SBAggroB', sans-serif !important;
}

p{
    font-family: 'Pretendard-Regular', sans-serif !important;
}

button{
    font-family: 'Pretendard-Regular', sans-serif !important;
}

div{
    box-sizing: border-box;
}

button{
    font-weight: bold;
}

img{
    user-select: none; /* 모든 브라우저에서 텍스트 선택 비활성화 */
    -webkit-user-select: none; /* Safari와 Chrome을 위한 설정 */
    -moz-user-select: none; /* Firefox를 위한 설정 */
    -ms-user-select: none; /* 인터넷 익스플로러를 위한 설정 */
}

.row-center{
    justify-content: center;
    align-items: center;
    margin : auto;
}

.p-btn{
    padding: 10px;
    background: none;
    border-radius: 10px;
    transition: all 0.6s;
}

.c-genkidama{
    color: rgba(0, 153, 255, 1);
}

.bg-genkidama{
    color: white;
    background: rgba(0, 153, 255, 1);
}

.btn-genkidama{
    color: white;
    border : 1px solid rgba(0, 153, 255, 1);
    background: rgba(0, 153, 255, 1);
}

.btn-genkidama:hover{
    border : 1px solid rgba(0, 153, 255, 0.7);
    background: rgba(0, 153, 255, 0.7);
    color: white;
}

.btn-white{
    color: rgba(0, 153, 255, 1);
    border : 1px solid rgba(0, 153, 255, 1);
    background: white;
}

.btn-white:hover{
    border : 1px solid white;
    background: none;
    color: white;
}

.badge {
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
    border : 1px solid #212529;
    background-color: #212529;
    margin-right: 10px;
}

.badge:hover{
    transform: scale(1.1);
    background-color: white;
    color : black;
}

.no-select {
    user-select: none; /* 모든 브라우저에서 텍스트 선택 비활성화 */
    -webkit-user-select: none; /* Safari와 Chrome을 위한 설정 */
    -moz-user-select: none; /* Firefox를 위한 설정 */
    -ms-user-select: none; /* 인터넷 익스플로러를 위한 설정 */
}
